@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Page You Are trying To Access is Not Available</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Products" asp-action="Index">Home Page</a>
    </div>
</div>